div{
    width: 200px;
    height: 500px;
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

p{
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    width: 100px;
    margin: 5px;
}